SRC=$HOME/src
SKNR=$SRC/skinner2401
DOTFILES=$SKNR/dotfiles
ALOCAL=$HOME/.aliases-local

alias ll="ls -al"
alias vim=nvim
alias code="open -a /Applications/Visual\ Studio\ Code.app"

alias dotf="pushd $DOTFILES"

alias soa="source $HOME/.aliases"
alias va="vim $DOTFILES/.aliases"
alias valoc="vim $ALOCAL"
alias src="pushd $HOME/src"
alias vdf="vim $DOTFILES"
alias vvrc="vim $DOTFILES/.vimrc"

if [ -f "$ALOCAL" ]; then
  source "$ALOCAL"
fi
