SRC=$HOME/src
SKNR=$SRC/skinner2401

if [ ! -d "$SKNR" ] ; then
  mkdir -p $SKNR
fi

DOTFILES=$SKNR/dotfiles
ALOCAL=$HOME/.aliases-local

function vimindir() {
  pushd $1 >/dev/null
  vim $1/$2
  popd >/dev/null
}

alias ll="ls -al"
alias vim=nvim
alias code="open -a /Applications/Visual\ Studio\ Code.app"

alias soa="echo sourcing aliases from $HOME/.aliases && source $HOME/.aliases"

alias dotf="pushd $DOTFILES"
alias src="pushd $HOME/src"

alias va="vimindir $DOTFILES .aliases"
alias val="vimindir $HOME .aliases-local"
alias vdf="vimindir $DOTFILES"
alias vvrc="vimindir $DOTFILES .vimrc"
alias vzshrc="vimindir $DOTFILES .zshrc"

if [ -f "$ALOCAL" ]; then
  echo "sourcing local aliases from: $ALOCAL"
  source "$ALOCAL"
fi
